@model IEnumerable<DataAccessLibrary.Models.Game>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-4">

            <h1>Filters</h1>

            <!--
            START: Filter Sidebar

            Additional Classes:
                .nk-sidebar-left
                .nk-sidebar-right
                .nk-sidebar-sticky
            -->
            <aside class="nk-sidebar nk-sidebar-left">
                <div class="nk-widget nk-widget-highlighted">
                    <form method="post" class="nk-form nk-form-style-1" novalidate="novalidate">

                        <!--Title filter-->
                        <h4 class="nk-widget-title"><span><span class="text-main-1">Title</span></span></h4>
                        <div class="nk-widget-content">
                            <div id="title" class="input-group">
                                <input name="name" type="text" class="form-control" placeholder="Type something...">
                            </div>
                        </div>

                        <!--Genre filter-->
                        <h4 class="nk-widget-title"><span><span class="text-main-1">Genres</span></span></h4>
                        <div class="nk-widget-content">
                            <div id="genre" class="input-group">
                                <select name="genre" id="genres" class="form-control">
                                    <option value="" disabled selected>Select your option</option>
                                    <option value="RTS">RTS</option>
                                    <option value="Action">Action</option>
                                    <option value="RPG">RPG</option>
                                    <option value="MMO">MMO</option>
                                    <option value="Moba">MOBA</option>
                                    <option value="Adventure">Adventure</option>
                                    <option value="Indie">Indie</option>
                                    <option value="Strategy">Strategy</option>
                                    <option value="Racing">Racing</option>
                                    <option value="Simulator">Simulator</option>
                                </select>
                            </div>
                        </div>

                        <!--Price filter-->
                        <h4 class="nk-widget-title"><span><span class="text-main-1">Price</span></span></h4>
                        <div id="price" class="nk-widget-content">
                            <div class="row">
                                <div id="lowPrice" class="input-group">
                                    <div class="col-6">
                                        <p>Low</p>
                                    </div>
                                    <div class="col-6">
                                        <input name="lowPrice" type="number" step="any" class="form-control" value="0" placeholder="Lowest price..." />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="highPrice" class="input-group">
                                    <div class="col-6">
                                        <p>High</p>
                                    </div>
                                    <div class="col-6">
                                        <input name="highPrice" type="number" step="any" class="form-control" value="500" placeholder="Highest price..." />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div id="apply" class="nk-widget-content">
                            <input asp-action="Filter" type="submit" value="Apply" class="nk-btn nk-btn-rounded nk-btn-color-white float-right" />
                            <div class="clearfix"></div>
                        </div>

                    </form>
                </div>
            </aside>
        </div>

        <div class="col-8">
            <h1>Games</h1>
            <div class="IndexBody">
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Genre)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img src="@Url.Content(item.imagePath)" class="img-thumbnail" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Genre)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <h4 class="nk-feature-title text-main-1 d-flex justify-content-end">
                                        <a asp-action="StoreCart" asp-controller="Store" asp-route-id="@item.ProductID">Add to cart&nbsp;&nbsp;&nbsp;</a>|
                                        <a asp-action="Edit" asp-route-id="@item.ProductID">&nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;</a>|
                                        <a asp-action="Details" asp-route-id="@item.ProductID">&nbsp;&nbsp;&nbsp;Details&nbsp;&nbsp;&nbsp;</a>|
                                        <a asp-action="Delete" asp-route-id="@item.ProductID">&nbsp;&nbsp;&nbsp;Delete&nbsp;&nbsp;&nbsp;</a>
                                    </h4>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
