@model DataAccessLibrary.Models.Game

@{ 
    ViewData["Title"] = "Find a Game by Category";
}

<div class="text-center">
    <h1>Find Game</h1>

    <label for="Filter">Choose filter: </label>
    <select id="Filter">
        <option value="@Model.Name">@Html.DisplayNameFor(model => model.Name)</option>
        <option value="@Model.Description">@Html.DisplayNameFor(model => model.Description)</option>
        <option value="@Model.Price">@Html.DisplayNameFor(model => model.Price)</option>
        <option value="@Model.Genre">@Html.DisplayNameFor(model => model.Genre)</option>
    </select>


</div>