@model Users

<!DOCTYPE html>
<head>
    <link href="~/assets/css/login.css" rel="stylesheet" />
</head>
<!-- START: Page Background -->

<img class="nk-page-background-top" src="assets/images/bg-top.png" alt="">
<img class="nk-page-background-bottom" src="assets/images/bg-bottom.png" alt="">

<!-- END: Page Background -->
<body>
    <div class="flex-container">
        <div class="content-container">
            <h4 class="mb-0"><span class="text-main-1">Edit User</span></h4>

            <div class="nk-gap-1"></div>
            <form asp-action="Update" asp-controller="Users" method="post" class="nk-form text-white">
                <div class="row vertical-gap">
                    <div class="col-md-6">
                        First Name:
                        <div class="nk-gap"></div>
                        <input type="text" value="@Model.FirstName" name="firstname" asp-for="FirstName" class="form-control">

                        Last Name:
                        <div class="nk-gap"></div>
                        <input type="text" value="@Model.LastName" name="lastname" asp-for="LastName" class="required form-control">

                        Username:
                        <div class="nk-gap"></div>
                        <input type="text" value="@Model.Username" name="username" asp-for="Username" class="form-control">

                        Password:
                        <div class="nk-gap"></div>
                        <input type="text" value="@Model.Password" name="password" asp-for="Password" class="required form-control">

                        Email:
                        <div class="nk-gap"></div>
                        <input type="text" value="@Model.EmailAddress" name="emailaddress" asp-for="EmailAddress" class="required form-control">

                        Card Number:
                        <div class="nk-gap"></div>
                        <input type="text" value="@Model.CardNumber" name="cardnumber" asp-for="CardNumber" class="required form-control">

                        Card Expiration Date:
                        <div class="nk-gap"></div>
                        <input type="text" value="@Model.CardExpire" name="CardExpire" asp-for="CardExpire" class="required form-control">

                        Card CVC:
                        <div class="nk-gap"></div>
                        <input type="text" value="@Model.CardCvc" name="cardcvc" asp-for="CardCvc" class="required form-control">
                    </div>
                </div>

                <div class="nk-gap-1"></div>
                <div class="row vertical-gap">
                    <div class="col-md-6">
                        <button class="nk-btn nk-btn-rounded nk-btn-color-main-1" type="submit">Complete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
